.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .title-group{
    padding-left: 25px;
}

.title-group i {
    padding-right: 5px;
}

.logo {
    text-decoration: none;
    color: #3f51b5;
}
.logo:hover {
    color: #303d88;
}